* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-radius {
    border-radius: 10px;
}

/* Modal inicia sesión */
.user {
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
}

.user .icon-size {
    font-size: 10em;
}

.container-box {
    border-radius: 4px;
    background-color: #f5f5f5;
    max-width: 45%;
    margin: 20px auto;
    padding: 2rem;
}

/* label color */
.container-box .input-field label {
    color: #000;
}

/* label underline focus color */
.container-box .input-field input[type=text] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #0000;
}

.container-box p {
    margin-top: 10px;    
}

/* Seccíon hero */
.hero {
    align-items: center;
    background-image: url('../assets/images/taxi.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

.hero .info-mobile {
    padding: 1.5rem;
}

.bg-color {
    background-color: #f7b617;
}

.font-size {
    font-size: 2em;
}

/* Modal registrarse */

.modal-bg {
    border-radius: 5px;
}

/* label color */
.container-form .input-field label {
    color: #000;
}

/* label underline focus color */
.container-form .input-field input[type=text] {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #0000;
}

.container-form .boton-parraf {
    text-align: center;
}

/* Sección phone */
.phone {
    color: #fff; 
    padding: 2em 1em;
}

.phone-text {
    border: 1px solid #fff;
    display: flex;
    margin-left: -1px; 
    width: 100%;
}

.phone-title {
    margin: auto;
    text-align: center;
}

.info {
    margin: 2.5em;
}

.phone .phrase {
    font-size: 1.3em;
    margin-top: 20px;
}

/* Sección conduce */
.driver {
    background-image: url('../assets/images/conduce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.driver .text-drive {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 9rem 3rem;
    width: 100%;
}

/* Modal conduce */
.modal-driver {
    border-radius: 5px;
}

.modal-driver .select-margin {
    margin-bottom: 4rem; 
}

.modal-driver .select-margin .label-size {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    left: 0;
}

.modal-driver .info-matricula {
    margin-bottom: 2rem;
}

/* Sección tarifa */
.tariff {
    padding-bottom: 2rem;
}

.tariff .mapa {
    border: 1px solid #fff;
    margin-top: 3em;
    padding: 1em;
}       

/* label color */
.tariff .input-field label {
color: #fff;
}

/* label underline focus color */
.tariff .input-field input[type=text] {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #0000;
}

/* Sección footer */
.logo-footer {
    border-bottom: 1px solid #fff;
}

.copyright {
    border-top: 1px solid #fff;
    padding-top: 1.5em; 
}




@media (min-width:600px) {
    .hero {
        background-position: center 91%;
        background-size: 100% auto;
    }

    .hero .info-desktop {
        padding: 2.5em;
    }

    .info-desktop .text:before {
        content: " ";
        display: inline-block;
        width: 90px;
        height: 1px;
        background: white;
        margin-top: 20px;
        margin-right: 2rem;
    }

    .info-desktop .text:after {
        content: " ";
        display: inline-block;
        width: 90px;
        height: 1px;
        background: white;
        margin-top: 20px;
        margin-left: 2rem;
    }

    /* Sección phone */
     .phone {
        padding: 2em 0;
    }

    .phone-text {
        padding: 3em;
        width: 75%;
    }

    .info {
        margin-left: 13em;
    }

    /* Seción driver */
    .driver .text-drive {
        padding: 7em 5em;
        width: auto;
    }
}