/* Seccíon hero */
.hero {
    align-items: center;
    background-image: url('../assets/images/taxi.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

.bg-color {
    background-color: #f7b617;
}

.font-size {
    font-size: 2em;
}

/* Sección phone */
.phone {
    color: #fff; 
    padding: 2em 1em;
}

.phone-text {
    border: 1px solid #fff;
    display: flex;
    margin-left: -1px; 
    width: 100%;
}

.phone-title {
    margin: auto;
    text-align: center;
}

.info {
    margin: 2.5em;
}

.phone .phrase {
    font-size: 1.3em;
    margin-top: 20px;
}

/* Sección conduce */
.driver {
    background-image: url('../assets/images/conduce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.driver .text-drive {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 9rem 3rem;
    width: 100%;
}

/* Sección tarifa */
.tariff .mapa {
    border: 1px solid #fff;
    margin-top: 3em;
    padding: 1em;
}



@media (min-width:600px) {
    .hero {
        background-position: center 91%;
        background-size: 100% auto;
    }

    .hero .info-desktop {
        padding: 2.5em;
    }

     /* Sección phone */
     .phone {
        padding: 2em 0;
    }

    .phone-text {
        padding: 3em;
        width: 75%;
    }

    .info {
        margin-left: 13em;
    }

    /* Seción driver */
    .driver .text-drive {
        padding: 7em 5em;
        width: auto;
    }
}